@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-primary: #212121;
  --color-brand-secondary: #707070;
  --color-brand-accent: #0074d9;
  --color-brand-accent-dark: #001f3f;

  --font-display: var(--font-roboto), sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= theme(--breakpoint-sm)) {
    padding-inline: 1rem;
  }
  @media (width >= theme(--breakpoint-lg)) {
    padding-inline: 2rem;
  }
  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 4rem;
  }
  @media (width >= theme(--breakpoint-2xl)) {
    padding-inline: 2rem;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.typography {
  @apply dark:mix-blend-difference dark:lg:mix-blend-normal;
}

.button {
  @apply cursor-pointer py-3 px-10 border-none text-white disabled:bg-slate-500 rounded-[3px];
}

.button-primary {
  @apply cursor-pointer py-3 px-10 border-none text-white disabled:bg-slate-500 rounded-[3px] bg-brand-accent;
}

.button-secondary {
  @apply cursor-pointer py-3 px-10 border-none text-white disabled:bg-slate-500 rounded-[3px] bg-brand-accent-dark;
}

.input {
  @apply w-full box-border border-2 border-indigo-600 py-3.5 px-4 transition-all duration-300 ease-in-out placeholder:text-gray-500 rounded-md;
}

.input.input-error {
  @apply border-red-500;
}

.burger-transition {
  transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

.burger-bar-transition {
  transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, box-shadow 250ms,
    background-color 500ms;
}

.sidebar-transition {
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
